<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>

  </system.web>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="YTP.Main.Areas.SportsStore.Models.HtmlHelpers" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>
