

<form>
    <div class="row mb-3">
        <label for="EmployeeID" class="col-sm-2 col-form-label">Employee ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="EmployeeID" placeholder="Employee Id" disabled="disabled" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="EmployeeName" class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="EmployeeName" placeholder="Employee Name">
        </div>
    </div>

    <div class="row mb-3">
        <label for="EmployeeAge" class="col-sm-2 col-form-label">Employee Age</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="EmployeeAge" placeholder="Employee Age">
        </div>
    </div>

    <div class="row mb-3">
        <label for="State" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="State" placeholder="State">
        </div>
    </div>

    <div class="row mb-3">
        <label for="Country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Country" placeholder="Country">
        </div>
    </div>
</form>