@model decimal
    
@{
    Layout = null;
}

<h2>Index</h2>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Value</title>
</head>
<body>
    <div>Total Value is @Model*** </div>
</body>
</html>