@model YTP.Main.Models.Product

@{
    ViewBag.Title = "DisplayNameAndPrice";
    Layout = "~/Areas/SandboxTBP/Views/Shared/_Layout.cshtml";
}

<h2>DisplayNameAndPrice</h2>
The Product Name is @Model.Name and it cost @Model.ProductPrice
Method Name: @ViewBag.getName

