
@{
    ViewBag.Title = "TBS Employees";
}

<h2>Employee Details</h2>

<table id="employeeTable">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Position</th>
            <th>Office Loc</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </thead>
</table>

