
@{
    ViewBag.Title = "Index";
}

<h2>Accenture Employee</h2>


<table class="table table-hover" id="AccEmpData">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Position Type</th>
            <th>Salary</th>
            <th>City Name</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
</table>


@section scripts{
    <script type="text/javascript">
        var ajaxErrorResult = "An error has occur and we all concur";
        $(document).ready(function () {
            LoadEmployee();
        });

        function EditEmployee(employeeId) {

            $.ajax({
                async: true,
                type: 'GET',
                url: '/HumanResources/AccEmp/EditEmployee',
                data: {employeeId: employeeId },
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    $("#firstNameInput").val(result.FirstName);
                    $("#lastNameInput").val(result.LastName);
                    $("#departmentInput").val(result.Department);
                    $("#PositionTypeInput").val(result.PositionType);
                    $("#salaryInput").val(result.Salary);
                    $("#Cities").val(result.CityId);

                    $("#employeeId").val(employeeId);
                    $("#btnSave").val("Update Employee");


                    $.notify(result.message, {
                        globalPosition: "top right",
                        className: "success"
                    });
                },
                error: function (result) {

                    alert(ajaxErrorResult);
                    console.log(result);
                }
            });
        }

        function DeleteEmployee(employeeId) {

            var employeeId = { employeeId: employeeId };
            confirm(`Are you sure you want to delete ${JSON.stringify(employeeId) } record.`);

            $.ajax({
                async: true,
                type: 'POST',
                url: '/HumanResources/AccEmp/DeleteEmployee',
                data: JSON.stringify(employeeId),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.Success) {                        
                        LoadEmployee();

                        $.notify(result.message, {
                            globalPosition: "top right",
                            className: "success"
                        });
                    }
                    else {
                        //alert(result.message);
                        $.notify(result.message, {
                            globalPosition: "top right",
                            className: "danger"
                        });
                    }
                },
                error: function (result) {
                    alert(ajaxErrorResult);
                    console.log(result);
                }
            });
        }

        function ResetDataEntry() {

            $("#employeeId").val("0");
            $("#firstNameInput, #lastNameInput").val("");
            $("#departmentInput,#PositionTypeInput,#salaryInput").val("");
            $("#Cities").val("Select a City: ");

            $("#btnSave").val("Add Employee");
            $("#ErrorMessages").empty();

        }

        function SaveDataEntry() {
            var EmployeeObject = {
                EmployeeId: $("#employeeId").val(),
                FirstName: $("#firstNameInput").val(),
                LastName: $("#lastNameInput").val(),
                Department: $("#departmentInput").val(),
                PositionType: $("#PositionTypeInput").val(),
                Salary: $("#salaryInput").val(),
                CityId: $("#Cities").val()
            }

            var errorMessage = ""

            $.ajax({
                async: true,
                type: 'POST',
                url: '/HumanResources/AccEmp/AddUpdateEmployee',
                data: JSON.stringify(EmployeeObject),
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.Success) {

                        LoadEmployee();
                        ResetDataEntry();

                        $.notify(result.message, {
                            globalPosition: "top right",
                            className: "success"
                        });
                    }
                    else {                       
                        $("#ErrorMessages").empty();

                        $.each(result.ErrorList, function (index, value) {
                            errorMessage = value;
                            $.notify(errorMessage, {
                                globalPosition: "top middle",
                                className: "error"
                            });
                        });
                        //$("#ErrorMessages").append(errorMessage);
                    }
                },
                error: function (result) {
                    alert(ajaxErrorResult);
                    console.log(result);
                }
            });
        }

        function LoadEmployee() {
            var accEmpData = "";

            $.ajax({
                async: true,
                type: 'GET',
                url: '/HumanResources/AccEmp/GetAllEmployee',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result.Success) {
                        $.each(result.data, function (index, value) {
                            accEmpData += `
                                <tr>
                                    <td> ${index + 1} </td>
                                    <td> ${value.FirstName} </td>
                                    <td> ${value.LastName} </td>
                                    <td> ${value.Department} </td>
                                    <td> ${value.PositionType} </td>
                                    <td> ${value.Salary} </td>
                                    <td> ${value.CityName} </td>
                                    <td>
                                       <input type="button" class="btn btn-warning btn-sm" value="Edit" onclick=EditEmployee(${value.EmployeeId})>
                                       <input type="button" class="btn btn-danger btn-sm" value="Delete" onclick=DeleteEmployee(${value.EmployeeId})>
                                    </td>
                                </tr>
                                `;
                        });

                        $("#AccEmpData").find("tr:gt(0)").remove();
                        $('#AccEmpData').append(accEmpData);
                    }
                },
                error: function (result) {

                    $.notify(ajaxErrorResult, {
                        globalPosition: "middle middle",
                        className: "error"
                    });
                    console.log(result);
                }
            });
        }

    </script>
}


<input type="hidden" value="0" id="employeeId" />


<table class="mt-3">
    <tr>
        <td>First Name</td>
        <td><input type="text" name="FirstName" id="firstNameInput" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" name="LastName" id="lastNameInput" /></td>
    </tr>
    <tr>
        <td>Department</td>
        <td><input type="text" name="Department" id="departmentInput" /></td>
    </tr>
    <tr>
        <td>Position Type</td>
        <td><input type="text" name="PositionType" id="PositionTypeInput" /></td>
    </tr>
    <tr>
        <td>Salary</td>
        <td><input type="text" name="Salary" id="salaryInput" /></td>
    </tr>
    <tr>
        <td>City Name</td>
        <td>@Html.DropDownList("Cities", @ViewBag.Cities as IEnumerable<SelectListItem>)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" class="btn btn-primary" id="btnSave" value="Add Employee" onclick="SaveDataEntry()" />
            <input type="button" class="btn btn-danger" id="btnDelete" value="Reset Entry" onclick="ResetDataEntry()" />
        </td>
    </tr>
</table>
<div class="text-danger" id="ErrorMessages"></div>

