@model IEnumerable<YTP.AddToCart.Models.tbl_product>


@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">

        @foreach(var item in Model) {            
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/img/@item.PImage" alt="image one" class="card-img-top" />
                    <div class="card-body">
                        <h3>@item.PName</h3>
                    </div>
                    <button class="btn btn-success rounded-0" onclick="AddToCart(@item.id)">
                        <i class="fa-solid fa-cart-arrow-down fa-fade text-white xl-3"></i> Add to Cart
                    </button>
                </div>
            </div>
        }

    </div>
</div>
