@model IEnumerable<YTP.AddToCart.ViewModels.VMViewCart>

@{
    int count = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Image</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Total Price</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Image</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td>Total Price</td>
                <td>Action</td>
            </tr>
        }
    </tbody>
</table>

