
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" style="width: 50%;">
    @using (Html.BeginForm("SaveRecord", "Rental", FormMethod.Post, new { id = "popupForm" })) {

        <div>
            <h1>Vehicle Rental</h1>
        </div>

        <div class="form-group">
            <label class="form-label">Vehicle Number: </label>
            <select class="form-control" id="vehicleNo" required>
                <option>Select below</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Customer Id: </label>
            <input type="text" id="customerid" name="customerid" class="form-control" placeholder="Customer Id" required />
        </div>

        <div class="form-group">
            <label class="form-label">Customer Name: </label>
            <input type="text" id="customername" name="customername" class="form-control" placeholder="Customer Name" required />
        </div>

        <div class="form-group">
            <label class="form-label">Rental Fee: </label>
            <input type="text" id="rentalfee" name="rentalfee" class="form-control" placeholder="Rental Fee" required />
        </div>

        <div class="form-group">
            <label class="form-label">Rental Fee: </label>
            <input type="text" id="rentalfee" name="rentalfee" class="form-control" placeholder="Rental Fee" required />
        </div>

        <div class="form-group">
            <label class="form-label">Start Date: </label>
            <input type="date" id="startdate" name="startdate" class="form-control" placeholder="Start Date" required />
        </div>

        <div class="form-group">
            <label class="form-label">End Date</label>
            <input type="date" id="enddate" name="enddate" class="form-control" placeholder="End Date" required />
        </div>

        <div class="form-group">
            <input type="submit" value="Save Record" class="btn btn-success" />
        </div>

    }
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            LoadVehicles();

            FetchCustomerData();
        });
        
        function LoadVehicles() {

            $.ajax({
                type: 'GET',
                url: '/Rental/GetVehicles',
                dataType: 'JSON',
                success: function(response) {

                    for (var i = 0; i < response.length; i++) {

                        $("#vehicleNo").append($("<option/>", { text: response[i].Make }));
                        
                    }
                },
                error: function (xhr, status, error) {
                    // This function is called when there's an error in the request
                    console.error('AJAX request failed with status ' + status);
                }
            })
        };
        
        function FetchCustomerData() {

            $("#customerid").keyup(function (e) {

                console.log("keyup - firing");

                $.ajax({
                    type: 'POST',
                    url: '/Rental/CustomerById?id=' + $("#customerid").val(),
                    dataType: 'JSON',
                    success: function (response) {
                        console.log(response);

                        $("#customername").val(response);

                    },
                    error: function (xhr, status, error) {
                        // This function is called when there's an error in the request
                        console.error('AJAX request failed with status ' + status);
                    }
                });
            });


        };

    </script>
    }