body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, .05);
}

#app{
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a{
    color:#009579;
}

.header{
    background: rgb(130, 130, 233);
    border: 1px solid rgb(117, 117, 167);
}


/* Input Tag Application */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.inputTag {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372f0;
}

.inputTag-wrapper {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 20px;
}

.inputTag-wrapper :where(.inputTag-title, li, li i, .inputTag-details) {
    display: flex;
    align-items: center;
}

.inputTag-wrapper .inputTag-title img {
    max-width: 25px;
}

.inputTag-wrapper .inputTag-title h2 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 8px;
}

.inputTag-wrapper .inputTag-content p {
    font-size: 15px;
}

.inputTag-content ul {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.inputTag-content ul li{
    list-style: none;
    margin: 4px 3px;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3d1e1;
}

.inputTag-content ul li i{
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #808080;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
}

.inputTag-content ul input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.inputTag-wrapper .inputTag-details {
    justify-content: space-between;
}

.inputTag-details button {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #4834d4;
}