@model YTP.Main.Areas.SportsStore.Models.Login_VM

@{
    ViewBag.Titla = "Admin: Log in";
    Layout = "~/Areas/SportsStore/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="card" style="max-width: 35rem; margin: auto;">
        <div class="card-header">
            <h3>Log In</h3>
        </div>

        <div class="card-body">
            <p>Please enter username and password</p>

            @using (Html.BeginForm()) {
                @Html.ValidationSummary()
                <div class="mb-3">
                    <label>User Name: </label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    <label>Password: </label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <input type="submit" class="btn btn-primary" value="Log In" />
             }
        </div>
    </div>
</div>