
@{
    ViewBag.Title = "Index";
}

<h2>Products Data</h2>

<button type="button" id="CreateProduct" class="btn btn-primary">Create Product</button>

<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>BarCode</th>
            <th>StockQty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>

@*<script src="~/Scripts/jquery-3.7.0.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        loadProductData();
    });

    function EditClick(productId) {
        alert(productId);
    }

    function DeleteClick(productId) {
        alert(productId);
    }

    function SaveProduct() {

        var ProductModel = {
            productId: 0,
            Code: $('#productCode').val(),
            Name: $('#productName').val(),
            Category: $('#productCategory').val(),
            Barcode: $('#productBarcode').val(),
            StockQty: $('#productStockQty').val()
        };
        console.log(JSON.stringify(ProductModel));//This works

        $.ajax({
            async: true,
            url: '/Product/AddProduct',
            type: 'POST',
            dataType: 'JSON',
            ContentType: 'application/json;charset=utf-8',
            data: JSON.stringify(ProductModel),
            success: function (response) {

                //Somehow it looks like it is not making it down here.
                console.log("Checking the url:");
                console.log(url);

                if (response.IsValid == true) {

                    alert(response.Message)
                    loadProductData();
                }
                else {
                    alert(response.ErrorMessage);

                }
            },
            error: function (response) {
                alert("An error has occur attempting to save your entry!");
                console.log(response);
            }
        });
    }


    function loadProductData() {
        $.ajax({
            async: true,
            url: '/Product/GetProductDetails',
            type: 'GET',
            ContentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (response) {
                var html = '';
                $.each(response, function (key, value) {
                    html += '<tr>';
                    html += '<td>' + value.ProductId + '</td>';
                    html += '<td>' + value.Code + '</td>';
                    html += '<td>' + value.Name + '</td>';
                    html += '<td>' + value.Category + '</td>';
                    html += '<td>' + value.Barcode + '</td>';
                    html += '<td>' + value.StockQty + '</td>';
                    html += '<td><input type="button" value="Edit" onclick="EditClick(' + value.ProductId + ')"/>';
                    html += '//<input type="button" value="Delete" onclick="DeleteClick(' + value.ProductId + ')"/>';
                    html += '</td>'
                    html += '/tr'
                });
                $('.tbody').html(html);

            },
            error: function () {
                alert('No Data Found!');
            }
        })
    }

</script>


<table>
    <tr>
        <td>Product Id: </td>
        <td><input type="number" id="ProductId" readonly /></td>
    </tr>
    <tr>
        <td>Product Code: </td>
        <td><input type="text" id="productCode" /></td>
    </tr>
    <tr>
        <td>Product Name: </td>
        <td><input type="text" id="productName" /></td>
    </tr>
    <tr>
        <td>Product Category: </td>
        <td><input type="text" id="productCategory" /></td>
    </tr>
    <tr>
        <td>Barcode: </td>
        <td><input type="text" id="productBarcode" /></td>
    </tr>
    <tr>
        <td>Stock Quantity: </td>
        <td><input type="number" id="productStockQty" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" id="btnSave" onclick="SaveProduct()" />
            <input type="button" value="Reset" id="btnReset" />
        </td>
    </tr>
</table>