
@{
    ViewBag.Title = "Index";
}


<h2>Product Details!</h2>

<button type="button" class="btn btn-primary" id="CreateProduct">Create Product</button>

<table class="table table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Product Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Barcode</th>
            <th>Stock Quantity</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody class="loadProduct"></tbody>
</table>

<table>
    <tr>
        <td>Product Id</td>
        <td><input type="text" id="txtProdId" readonly /></td>
    </tr>
    <tr>
        <td>Code</td>
        <td><input type="text" id="txtCode" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" id="txtName" /></td>
    </tr>
    <tr>
        <td>Category</td>
        <td><input type="text" id="txtCategory" /></td>
    </tr>
    <tr>
        <td>Barcode</td>
        <td><input type="text" id="txtBarcode" /></td>
    </tr>
    <tr>
        <td>Stock Qty</td>
        <td><input type="text" id="txtStockQty" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" class="btn btn-primary" id="btnSave" value="Save" onclick="SaveProduct()" />
            <input type="button" class="btn btn-danger" id="btnDelete" value="Reset" />
        </td>
    </tr>
</table>