
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.7.0.js"></script>
<h2>Product Details!</h2>

<button type="button" class="btn btn-primary" id="CreateProduct">Create Product</button>

<table class="table table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Product Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Barcode</th>
            <th>Stock Quantity</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody class="loadProduct"></tbody>
</table>

<script>
    var errMsg = "An error has occur. Please see check the console";
    $(document).ready(function () {
        LoadProductData();
    });

    function EditClick(ProductId) {
        alert(ProductId);
    }

    function DeleteClick(ProductId) {
        alert(ProductId);
    }

    function SaveProduct() {
        var ProductModel = {
            ProductId: 0,
            Code: $('#txtCode').val(),
            Name: $('#txtName').val(),
            Category: $('#txtCategory').val(),
            Barcode: $('#txtBarcode').val(),
            StockQty: $('#txtStockQty').val(),
        };
        console.log(JSON.stringify(ProductModel));

        $.ajax({
            //async: true,
            type: 'POST',
            url: '/Product/PostProductDetails',
            data: JSON.stringify(ProductModel),
            dataType: 'JSON',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                console.log("in the Success logic")
                if (result.IsValid == true) {
                    alert(result.Message)
                    LoadProductData();
                }
                else {
                    alert(errMsg);
                    console.log(result.ErrorMessage);
                }

            },
            error: function (result) {
                alert(errMsg);
                console.log(result)
            }
        });
    }

    function LoadProductData() {
        $.ajax({
            async: true,
            url: '/Product/GetProductDetails',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (result) {
                var productData = '';
                $.each(result, function (key, value) {
                    productData += '<tr>';
                        productData += `<td>${value.ProductId}</td>`;
                        productData += `<td>${value.Code}</td>`;
                        productData += `<td>${value.Name}</td>`;
                        productData += `<td>${value.Category}</td>`;
                        productData += `<td>${value.Barcode}</td>`;
                        productData += `<td>${value.StockQty}</td>`;
                        productData += `
                            <td class="text-center">
                                <input type="button" class="btn btn-warning" value="Edit" onclick="EditClick(${value.ProductId})"/>
                                <input type="button" class="btn btn-danger" value="Delete" onclick="DeleteClick(${value.ProductId})"/>
                            </td>`;
                    productData += '</tr>';
                });
                $('.loadProduct').html(productData);
            },
            error: function (result) {
                alert(errMsg);
                console.log(result);
            }
        });
    }
</script>

<table>
    <tr>
        <td>Product Id</td>
        <td><input type="text" id="txtProdId" readonly /></td>
    </tr>
    <tr>
        <td>Code</td>
        <td><input type="text" id="txtCode" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" id="txtName" /></td>
    </tr>
    <tr>
        <td>Category</td>
        <td><input type="text" id="txtCategory" /></td>
    </tr>
    <tr>
        <td>Barcode</td>
        <td><input type="text" id="txtBarcode" /></td>
    </tr>
    <tr>
        <td>Stock Qty</td>
        <td><input type="text" id="txtStockQty" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" class="btn btn-primary" id="btnSave" value="Save" onclick="SaveProduct()" />
            <input type="button" class="btn btn-danger" id="btnDelete" value="Reset" />
        </td>
    </tr>
</table>