body{
    background-image: url("https://images.unsplash.com/photo-1519406155028-39dbcdf8400c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: repeat-x;
    background-size: cover;
    
}


.custom-title{
    text-align: center;
    font-weight: bold;
}

input{
    border-radius: unset !important;
}

button{
    border-radius: unset !important;
    float: right;
    margin: 0.5
    rem;
}

.card{
    border-radius: unset !important;
    margin-top: 3rem;
    box-shadow: 0px 10px 10px 10px black;
}