
@{
    ViewBag.Title = "Index";
}

<h2>List of Projects</h2>

@{ 
    string getDateTime = "HardReset";
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-5 mb-5"><strong>Department Information</strong></h1>
    </div>
    <div class="main row justify-content-center">

        @*<form action="" id="student-form" class="row justify-content-center mb-4" autocomplete="off">
            <div class="col-7 mb-3">
                <label for="DepartmentName">Department Name: </label>
                <input type="text" class="form-control" id="Department Name" placeholder="Department Name">
            </div>
            <div class="col-7 mb-3">
                <label for="GroupName">Group Name: </label>
                <input type="text" class="form-control" id="Group Name" placeholder="Group Name">
            </div>
            <div class="col-7 mb-3">
                <label for="UpdatedDate">Updated Date: </label>
                <input type="date" class="form-control" id="UpdatedDate">
            </div>
            <div class="col-7">
                <input type="submit" class="btn btn-success add-btn" value="Submit">
            </div>
        </form>*@


        <div class="col-10 mt-5">
            <button type="button" class="@getDateTime btn btn-dark mb-3" id="CreateProduct">Create Product</button>

            <table class="table table-stripped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Department Name</th>
                        <th scope="col">Group Name</th>
                        <th scope="col">Updated Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        loadDepartmentData();

    });

    function EditClick(id) {
        alert(id);
    }
    function DeleteClick(id) {
        alert(id);
    }

    function loadDepartmentData() {

        $.ajax({
            async: true,
            url: '/project/GetDepartmentDetails',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                var html = '';
                $.each(response, function (key, value) {
                    html += `<tr>`;
                    html += `<td> ${value.Name} </td>`;
                    html += `<td> ${value.GroupName} </td>`;
                    html += `<td> ${value.ModifiedDate} </td>`;
                    html += `<td>
                                <input type="button" value="Edit" onclick="EditClick(${value.DepartmentID})"/> || 
                                <input type="button" value="Delete" onclick="DeleteClick(${value.DepartmentID})"/>                                
                            </td>`;
                    html += `</tr>`;
                });
                $('.tbody').html(html);
            },
            error: function () {
                alert('An error has occurred. Unable to display data')
            }
        })
    }

</script>