@model YTP.Main.ViewModels.ModuleViewModel

@{
    ViewBag.Title = "Homepage";
}

<h2>Main Page</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">


    @foreach (var module in Model.Modules) {
        <div class="col">
            <div class="card h-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                     alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(module.ModuleName, "Index", "Employee", new { area = "" }, new { @class = "nav-link" })</h5>
                    <p class="card-text" id="cardone">
                        @module.ModuleDescription
                    </p>
                </div>
            </div>
        </div>
    }

    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
