
.field-validation-error {
    color: #b94a48;
    font-size: 18px;
}

.field-validation-valid{
    display: none;
}

.input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid{
    display: none;
}

.form-body{
    padding: 20px 40px;
    max-width: 70%;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(19, 35, 47, 0.3);
    background-color: whitesmoke;
}


.ytp-bigger {
    position: relative;
    font-size: 1.5em; /* Adjust the size as needed */
}

.dropdown-menu-center {
    width: 30rem;
    left: 50% !important; /* Override Bootstrap's default position */
    transform: translateX(-50%); /* Center horizontally */
}