<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="firstName" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="lastName" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <input type="date" class="form-control" id="dateOfBirth" placeholder="Date of Birth" aria-label="Date of Birth">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="cityState" placeholder="City & State" aria-label="Address">
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" aria-label="Phone Number">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="deptId" placeholder="Department ID" aria-label="Department ID">
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" id="btnSave">Button</button>
    </div>

</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            $('#btnSave').click(function (event) {
                event.preventDefault();
                var empData = {
                    FirstName: $("#firstName").val(),
                    LastName: $("#lastName").val(),
                    DateOfBirth: $("#dateOfBirth").val(),
                    CityState: $("#cityState").val(),
                    PhoneNumber: $("#phoneNumber").val(),
                    DepartmentId: $("#deptId").val(),
                }
                console.log(empData)

                $.ajax({
                    type: 'POST',
                    url: '/Home/Index',
                    data: JSON.stringify(empData),
                    contentType: 'application/json; charset-utf-8',
                    success: function (response) {
                        alert(response.SuccessMessage);
                    },
                    error: function (response) {
                        alert("An error has occurred. Looks like we're SOL");
                    }
                })
            })
        });
    })
</script>