<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="fullName" placeholder="Full Name" aria-label="First and Last Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="code" placeholder="Employee code" aria-label="Employee code">
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="age" placeholder="Your age" aria-label="Your age">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="deptId" placeholder="Department ID" aria-label="Department ID">
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="emailAddress" placeholder="Email Address" aria-label="Email Address">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="salary" placeholder="Your Salary" aria-label="Your Salary">
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" id="btnSave">Button</button>
    </div>

</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            $('#btnSave').click(function (event) {
                event.preventDefault();
                var empData = {
                    Name: $("#fullName").val(),
                    Code: $("#code").val(),
                    age: $("#age").val(),
                    Department: $("#deptId").val(),
                    Email: $("#emailAddress").val(),
                    Salary: $("#salary").val(),
                }
                console.log(empData)

                $.ajax({
                    type: 'POST',
                    url: '/Home/Index',
                    data: JSON.stringify(empData),
                    contentType: 'application/json; charset-utf-8',
                    success: function (response) {
                        alert(response.responseMessage);
                    },
                    error: function (response) {
                        alert("An error occured");
                    }
                })
            })
        });
    })
</script>