
@{  Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action Name</title>
</head>
<body>
    <h1>What the hell!</h1>
    <div>The Controller is: @ViewBag.Controller</div>
    <div>The Action is: @ViewBag.Action</div>
    <div>The Custom Variable is: @ViewBag.CustomVariables</div>
</body>
</html>