div {
    margin: 0 auto;
    width: 25vw;
    height: 150px;
    background: lightpink;
    float: middle;
    margin-bottom: 2rem;
}

.black {
    width: 40vw;
    height: 75px;
    background: black;
    float: middle;
}

div:first-child {
    width: 25vw;
    height: 150px;
    background-color: yellow;
}


.child-div{
    color: blue;
    font-weight: bold;
    text-transform: capitalize;
}