@model IEnumerable<string>

<div class="btn-group d-flex justify-content-center pb-3" role="group">

    @Html.ActionLink("Principal", "ListProducts", "Product", 
        new { Area = "SportsStore" },
        new { @class = "btn btn-outline-secondary btn-lg" })

    @foreach (var link in Model) {
        @Html.RouteLink(link, new {
        controller = "Product",
        action = "ListProducts",
        category = link,
        page = 1
        }, new {
            @class = "btn btn-outline-secondary btn-lg"
            + (link == ViewBag.SelectedCategory ? " btn-secondary text-white" : "")
        })
    }

</div>