@model IEnumerable<string>


@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalMenu"] ?? false));
    string wrapperClasses = horizontal ? "btn-group d-flex justify-content-center pb-3" : null;
    string padbottom = !horizontal ? "pb-3" : null;
}

<div class="@wrapperClasses">

    @Html.ActionLink("Principal", "ListProducts", "Product",
    new { Area = "SportsStore" },
    new { @class = "btn btn-outline-primary btn-lg padbottom" })

    @foreach (var link in Model) {
        @Html.RouteLink(link, new {
        controller = "Product",
        action = "ListProducts",
        category = link,
        page = 1
        }, new {
            @class = "btn btn-outline-secondary btn-lg padbottom"
            + (link == ViewBag.SelectedCategory ? " btn-secondary text-white" : "")
        })
     }

</div>