@model YTP.Main.Areas.SportsStore.Models.ProductsList_VM
@*@using YTP.Domain.SportsStore.Entities
@model IEnumerable<Product>*@



@{
    ViewBag.Title = "Products";
}

<h2>ListProducts</h2>

@foreach (var item in Model.Products) {

    <div>
        <h3>@item.ProductName</h3>
        <p>@item.Description</p>
        <h4>@item.ProductPrice.ToString("c")</h4>
    </div>

}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListProducts", new { page = x }));
</div>