@{
    ViewBag.Title = "Main Page";
}

<div id="main_container">

    <div class="project">
        <div id="projectViews"></div>
    </div>

    <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
    <div id="toTopBtn"></div>
</div>