* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 65.2%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}

#header .fa-drumstick-bite {
    font-size: 5rem;
    /*Made mod here */
    z-index: 10000;
    color: #fbc531;
    cursor: pointer;
    display: none;
}

#header .logo,
#footer .brand .logo {
    height: 5rem;
    text-transform: uppercase;
    /*Made mod here */
    font-size: 2.1rem;
    /*Made mod here */
}

#header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#header nav li {
    margin-right: 4rem;
}

#header nav li a {
    color: #dcdde1;
    font-size: 2rem;
}

#header nav li a:hover {
    color: #fbc531;
}

/* Home section */
#home {
    /* background: linear-gradient(to bottom, #353b48 10%, #718093 100%); */
    /* min-height: 100vh; */
    position: relative;
}

#home .content h1, h2 {
    font-family: 'lemonada', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
}

#home .content h1 {
    font-size: 5rem;
    color: #fbc531;
}

#home .content h2 {
    font-size: 3.5rem;
    color: #dcdde1;
}

#home .content p {
    font-size: 1.6rem;
    color: #f5f6fa;
}

#home .content button,
#about .content button,
#dish .box-container .box button,
#special .card-container .card button,
#contact form input[type="submit"],
#footer input[type="submit"]{
    outline: none;
    border: none;
    border-radius: 5rem;
    width: 21rem;
    height: 5rem;
    color: #485460;
    background: #f5f6fa;
    font-size: 2.1rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#home .content button::before,
#about .content button::before,
#dish .box-container .box button::before,
#special .card-container .card button::before,
#contact form input[type='submit']::before,
#footer input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fbc531;
    height: 100%;
    width: 0;
    transition: all .9s;
    z-index: -1;
}

#home .content button:hover::before,
#about .content button:hover::before,
#dish .box-container .box button:hover::before,
#special .card-container .card button:hover::before,
#contact form input[type='submit']:hover::before,
#footer input[type="submit"]:hover::before{
    width: 100%;
    color: #f5f6fa;
}

.header-active{
    background: #485460;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;
}
.header-active nav ul{
    margin: 0;
}


/* background images */
#home .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

#home .video-container .vid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    display: none;
}

#home .video-container .vid1 {
    display: block;
}

#home .controls {
    position: absolute;
    bottom: 14%;
    left: 45%;
    /* transform: translateX(-50%); */
    display: flex;
}

#home .controls .dots {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: #fbc531;
    margin: 0 1rem;
}

#home .controls .dots:hover {
    background: #f5f6fa;
}

/* Special Section */
#special {
    background: #485460;
    min-height: 100vh;
}

#special .heading h1,
#dish .heading h1,
#contact .heading h1,
#about .heading h1{
    /*@mixin heading notes*/
    font-size: 4rem;
    color: #f5f6fa;
    padding-top: 7rem;
    margin-bottom: 2rem;
}

#special .heading span,
#dish .heading span,
#contact .heading span,
#about .heading span{
    color: #fbc531;
}

#special .heading p{
    color: #f5f6fa;
    font-size: 2rem;
}

#special .card-container{
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#special .card-container .card{
    height: 40rem;
    width: 30rem;
    background: #f5f6fa;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

#special .card-container .card:hover{
    transform: scale(.9);
}

#special .card-container .card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#special .card-container .card p{
    font-size: 1.4rem;
    margin: 2rem 0;
}
#special .card-container .card button,
#about .content button{
   background-color: #485460;
   color: #f5f6fa;    
}
#special .card-container .card button:hover,
#about .content button:hover{
    color: #333;
}

/* about me section */
#about .content{
    margin: 5rem auto;
}
#about .content p{
    font-size: 2rem;
}
.image img{
    width:60vh;
    
}

/* dish section */
#dish{
    min-height: 100vh;
    width: 100vw;
}
#dish .box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 70%;
}
#dish .box-container .box{
    height: 20rem;
    width: 30rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}
#dish .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#dish .box-container .box .info{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background: #485460;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #f5f6fa;
    transform: scale(0);
}
#dish .box-container .box h3{
    font-size: 3rem;
}
#dish .box-container .box p{
    font-size: 1.3rem;
    border-bottom: .2rem solid #fbc531;
    border-top: .2rem solid #fbc531;
    margin: 1rem 2rem;
}
#dish .box-container .box:hover .info{
    transform: scale(1);
}

/* contact us section */
#contact{
    min-height: 100vh;
    width:100vw;
    background:url('https://tandoortimes.in/wp-content/uploads/2021/04/Tangdi-kebab-1.jpg');
    background-size: cover;
    background-position: center;
}
#contact .heading h1,
#contact .heading span{
    color: #fbc531;
    font-weight: bolder;
}
#contact form{
    background: #f5f6fa;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem #485460;
}
#contact form .inputBox{
    position: relative;
    text-align: center;
}
#contact form .inputBox input,
#contact form .inputBox textarea{
    outline: none;
    border: .2rem solid #485460;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
    font-size: 2rem;
}
#contact form .inputBox input:focus ~h3,
#contact form .inputBox textarea:focus ~h3{
    font-size: 1.6;
    left:6%;
    top:-.5rem;
    /* color:red; */
}
#contact form .inputBox textarea{
    padding: 1rem;
    resize: none;
    height: 20rem;
}
#contact form .inputBox h3{
    position: absolute;
    top:3rem; left: 7%;
}
#contact form input[type='submit']{
    margin-bottom: 2rem;
    margin-left: 4%;
    background: #485460;
    color: #f5f6fa;
}
#contact form input[type='submit']:hover{
    color: #485460;
    background: #fbc531;
}
#footer{
    background: #485460;
}
#footer h1{
    font-size: 2rem;
    color: #f5f6fa;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}
#footer h1 span{
    color: #fbc531;
}
#footer .brand{
    text-align: center;
    margin-top: 2rem;
}
#footer .brand .logo i{
     height: 4rem; /* Look into that */
}
#footer .brand .icons a{
    font-size: 2rem;
    margin: 2rem 1rem;
    color: #f5f6fa;
}
#footer .brand .icons:hover a{
    color: #fbc531;
}
#footer .footer-links{
    text-align: center;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}
#footer .footer-links h3{
    font-size: 2.2rem;
    color: #fbc531;
}
#footer .footer-links a{
    font-size: 1.7rem;
    color: #f5f6fa;
}
#footer h2{
    font-size: 2rem;
    margin: 2rem 0;
    color: #f5f6fa;
}
#footer input[type="text"]{
    border: .2rem solid #f5f6fa;
    outline: none;
    background: none;
    height: 4rem;
    width: 22rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #f5f6fa;
}
#footer input[type="submit"]{
    margin: 1rem 0;
    margin-left: 4%;
    background: #f5f6fa;
    color: #485460;
}
#footer input[type="submit"]:hover{
    background: #fbc531;
    color: #f5f6fa;
}

.fa-times {
    transform: rotate(-180deg);
    /* transform: skew(-180deg); */
    /* transform: skew(-180deg) rotate(-180deg); */
}

/* Make UI responsive */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    #header .fa-drumstick-bite {
        display: block;
    }

    #header nav {
        position: fixed;
        top: 0;
        left: -120%;
        height: 100vh;
        width: 35rem;
        background: #1e272e;
    }

    #header nav ul {
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    #header nav ul li {
        margin: 2rem 0;
    }

    #header nav ul li a {
        font-size: 3.5rem;
        border-radius: 5rem;
    }

    #header nav ul li a:hover {
        padding: .5rem 7.5rem;
        color: #333;
        background: #fbc531;
    }

    #header .nav-toggle {
        left: 0;
    }

    #home .controls {
        position: absolute;
        bottom: 14%;
        left: 35%;
        /* transform: translateX(-50%); */
        display: flex;
    }
    #about .image{
        text-align: center;
    }
    #about .image img{
        width: 70vw;
    }
}
