<div class="container-fluid">
    <div class="card mt-5">
        <img src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Ribbons-and-Banners-PNG/Blue_Long_Banner_Transparent_PNG_Image.png?m=1452570902"
            class="card-img-top" alt="super long image from google search">
        <div class="card-body">
            <h5 class="card-title">Very important contact information</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
                This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone number</th>
                <th scope="col">City State</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{phoneNumber}}</td>
                <td>{{CityState}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kervens</td>
                <td>Jean-Joseph</td>
                <td>(727) 722-7722</td>
                <td>Sarasota, FL</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Boss Bae, Boss girl of all Bosses</td>
                <td>(919) 555-9955</td>
                <td>Wake Forest, NC</td>
              </tr>
            </tbody>
          </table>      
    </div>
</div>